{{define "layout"}}
<!DOCTYPE html>
<!--
  ~ DHBW Mosbach project of subject "Programmieren 2" from:
  ~ 6439456
  ~ 8093702
  ~ 9752762
  -->

<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{template "title"}}</title>
    <link href="/assets/main.css" rel="stylesheet">
</head>
<body>
    <h1>Photo-Server</h1>
    {{template "body" .}}
</body>
<footer>
    <br>
    <br>
    <p>
    {{if .Global.LoggedIn }}
        Eingeloggt als {{.Global.Username}}. Zum Abmelden Browser schließen.
    {{else}}
        Nicht eingeloggt.
    {{end}}
    </p>
</footer>
</html>
{{end}}