{{define "title"}}Home Photo-Server{{end}}

{{define "body"}}
<p><a href="/upload">Bilder hochladen</a></p>
<p><a href="/order-list">Zur Bestellliste</a></p>
<h2>Deine Bilder:</h2>
{{if not .Result.Images}}
    <p>Du hast noch keine Bilder hochgeladen...</p>
{{else}}
    <form method="post">
        <input type="submit" value="Auswahl zur Bestellliste hinzufügen">
        <br>
        <br>
        {{range .Result.Images}}
            <div class="image-container">
                <a href="/images/{{$.Global.Username}}/{{.Name}}" class="image-link">
                    <img src="/images/{{$.Global.Username}}/{{$.Global.ThumbDir}}/{{.Name}}" alt="{{.Name}}">
                </a>
                <span>{{.Name}}</span>
                <span class="grey-text">{{.FormattedDate}}</span>
                <label for="toOrderList{{.Name}}">
                    <input type="checkbox" value="{{.Name}}" name="toOrderList{{.Name}}" id="toOrderList{{.Name}}">
                    <span>Zur Bestellliste hinzufügen</span>
                </label>
                <br>
            </div>
        {{end}}
        <br>
        <br>

        <div class="pagination-container">
            {{if gt .Local.Index 0}}
                <a href="/home?index={{sub .Local.Index .Local.Length}}&length={{.Local.Length}}">< Vorherige Seite</a>
            {{else}}
                <span>&nbsp;</span>
            {{end}}
            <div>
                <span>Bilder/Seite:</span>
                <a href="home?index={{.Local.Index}}&length=5">5</a>
                <a href="home?index={{.Local.Index}}&length=10">10</a>
                <a href="home?index={{.Local.Index}}&length=25">25</a>
                <a href="home?index={{.Local.Index}}&length=50">50</a>
            </div>
            {{if le (add .Local.Index .Local.Length) .Result.TotalImages}}
                <a href="/home?index={{.Local.Length}}&length={{.Local.Length}}">Nächste Seite ></a>
            {{else}}
                <span>&nbsp;</span>
            {{end}}
        </div>
        <br>
        <br>
        <input type="submit" value="Auswahl zur Bestellliste hinzufügen">
    </form>
{{end}}

{{end}}