{{define "title"}}Login Photo-Server{{end}}

{{define "body"}}
<form action="{{.BackendHost}}login" method="post">
    <table>
        <tr>
            <td>
                <label for="user">Benutzername:</label>
            </td>
            <td>
                <input type="text" name="user" id="user">
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Passwort:</label>
            </td>
            <td>
                <input type="password" name="password" id="password">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Einloggen</button>
            </td>
        </tr>
    </table>

</form>

<p>Noch kein Account? <a href="/register.html">Hier Registrieren</a></p>
{{end}}