{{define "title"}}Register Photo-Server{{end}}

{{define "body"}}
<form action="/register" method="post">
    <table>
        <tr>
            <td>
                <label for="user">Benutzername:</label>
            </td>
            <td>
                <input type="text" name="user" id="user" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Passwort:</label>
            </td>
            <td>
                <input type="password" name="password" id="password" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="passwordConfirmation">Passwort bestätigen:</label>
            </td>
            <td>
                <input type="password" name="passwordConfirmation" id="passwordConfirmation" required>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Registrieren">
            </td>
        </tr>
    </table>
</form>

<p>Du hast bereits einen Account? <a href="/home">Hier einloggen</a></p>

{{end}}